@use './src/globalStyles/mixins/flex';
.basket-color-picker{

  &__name{
    font-size: 18px;
    font-weight: 700;
    color: #1D1F22;
    text-transform: uppercase;
    margin: 5px 0;
  }

  &__select-options{

    &__ul {
      gap: 10px;
      @include flex.flexCenterRow;
      display: inline-flex;
      padding: 0;
      &__color {
        list-style: none;
        position: relative;
        width: 5vw;
        height: 5vw;
        min-width: 20px;
        min-height: 20px;
        max-width: 32px;
        max-height: 32px;
      }
    }
  }

  .picked-color{
    &:before {
      content: '';
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      width: 120%;
      height: 120%;
      max-width: 38px;
      max-height: 38px;
      border: 1px solid #5ECE7B;
    }
  }


}