.bar {
  top: 0;
  left: 0;
  width: 100vw;
  height:80px;
  max-width: 2000px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  background-color: white;
  @media(max-width: 700px){
    flex-wrap: wrap;
    margin-bottom: 100px;
    justify-content: space-around;

  }
}