@use './src/globalStyles/mixins/flex';
.product-image-wrapper{
  @media(max-width: 700px){
    @include flex.flexCenterColumn;
    flex-direction: column-reverse;
    position: relative;

  }
  &__button{
    @media(max-width: 700px){
      display: inline-block;
     padding: 20px;
    }
    display: none;
    background: none;
    border: none;
  }
@include flex.flexCenterRow;
  max-width: 40vw;
  min-width:120px;
  gap: 30px;
  &__preview{
    @media(max-width: 700px){
      overflow: scroll;
      width: 70vw;
      @include flex.flexCenterRow;
      position: relative;
      &::-webkit-scrollbar {
        width: 1px;
      }

      &::-webkit-scrollbar-track {
      }

      &::-webkit-scrollbar-thumb {
        background-color: transparent;
      }

    }

   @include flex.flexCenterColumn;
    gap: 30px;
    &__photo{
      width: 100%;
      height: 100%;
      max-width: 100px;
      max-height: 100px;
      min-width:80px ;
      min-height:80px ;
      object-fit: cover;
      object-position:center;
      align-self: center;
    }
  }
  &__main-photo{
    @media(max-width: 700px){
      align-self: center;
      width: 60vw;
      height: 60vw;
    }
 width: 40vw;
    height: 40vw;
    max-width:600px;
    max-height: 600px;
    object-fit: cover;
    object-position:center;
    align-self: flex-start;
    animation: reRenderPhoto .4s linear forwards;
  }
}


@keyframes reRenderPhoto {
  from{
    opacity: 0;
    transform: translateX(-10%);
  }
  to{
    opacity: 1;
    transform: translateX(0%);


  }
}