@use './src/globalStyles/mixins/flex';
@use './src/globalStyles/mixins/custom-price';
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;500;700&display=swap');

.product-price{
@include flex.flexCenterColumn;
  align-items: flex-start;
  width: 100px;
  height: 80px;
  border: 2px solid black;
  padding: 5px;
  &__name{
@include custom-price.currency-title;
    font-weight: 700;
    font-size: 18px;
    text-transform: uppercase;

  }

  &__currency{
    @include custom-price.currency-wrapper;
    font-weight: 700;

    &__span-symbol{
      @include custom-price.span-symbol;
    }
    &__span-first{
      @include custom-price.span-first;
    }
    &__span-rest{
      @include custom-price.span-rest
    }
  }
}