.product-description-wrapper{
max-width: 300px;
  text-align: justify;
  @media(max-width: 700px){
    width: 80vw;
  }
  &__text{
    color: #1D1F22;
    font-size: 16px;
    font-weight: 400;
    font-family: 'Roboto',sans-serif;

  }
}