@mixin flexCenterColumn {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}


@mixin flexCenterRow {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}


@mixin flexGridItems{
  display: flex;
  justify-content: center;
  align-items: flex-start;
  gap: 15px;
  flex-wrap: wrap;

}